body {
    font-family: 'Inter', sans-serif;
    background: #0a0a0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3093D2;
    padding: 10px;
}

.navbar img {
    height: 40px;
    margin-left: 30px;
}

.navbar .profile-button {
    font-size: 34px;
    color: #000000;
    cursor: pointer;
}

.navbar .profile-button:hover {
    color: #262626;
}

.profile-button {
    margin-right: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.wrapper {
    margin-top: -48rem;
    position: relative;
    width: 50rem;
    border: 1px solid black;
    border-radius: 5px;
    background: #f8f8f8;
}

.title {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: #3093D2;
    text-align: center;
}

.details-container p {
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
    margin-top: 10px;
}

.details-container p[id="created"], p[id="category"] {
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(60% - 144px); /* Adjust the width based on margin and padding */
    padding: 5px;
    word-wrap: break-word; /* Break long words */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis;
}

.details-container p[id="description"], p[id="content"] {
    text-align: left;
    margin-left: 45px;
}

.details-container p[id="course-description"], p[id="course-content"] {
    text-align: left;
    margin-left: 45px;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100% - 45px);
    padding: 5px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-player {
    margin-left: 4.5rem;
    margin-top: 20px;
    width: 40rem;
}

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button-container button {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.button-container button[id="dashboard"] {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 2.5rem;
}

.button-container button[type="submit"] {
    background: #CE1515;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.button-container button[id="edit"] {
    background: #3093D2;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 50px;
    cursor: pointer;
}

.comments-section p {
    margin-top: 1rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 44rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.wrapper h2 {
    margin-left: 3rem;
}

.comment-form textarea{
    resize: none;
    margin-top: 5px;
    margin-left: 3rem;
    width: 44rem;
    height: 80px;
    border-radius: 5px;
}

.comment-form input {
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 41rem;
}

.background-image {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.background-image img {
    margin-top: -1rem;
    width: 100%;
}

.background-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(10, 10, 10) 100%);
    pointer-events: none;
}