body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3093D2;
    padding: 10px;
}

.navbar img {
    height: 40px;
    margin-left: 30px;
}

.navbar .profile-button {
    font-size: 34px;
    color: #000000;
    cursor: pointer;
}

.navbar .profile-button:hover {
    color: #262626;
}

.profile-button {
    margin-right: 40px;
}

p {
    margin-top: 45px;
    margin-left: 120px;
    font-size: 34px;
}

h3 {
    margin-top: 15px;
    margin-left: 120px;
}

.bold { 
    font-weight: bold;
}

.search-container {
    position: relative;
    margin-left: 120px;
    margin-top: 5px;
}

.search-bar {
    width: 500px;   
    padding: 10px 35px;
    border-radius: 50px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #ADADAD;
    font-size: 16px;
}

.available-course {
    display: flex;
    margin-top: 45px;
    margin-left: 120px;
}

.available-course p {
    font-size: 34px;
    margin: 0;
}

.available-course button {
    background: none;
    border: none;
    font: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
    margin-left: 880px;
    margin-top: 8px;
}

.my-course {
    display: flex;
    margin-top: 45px;
    margin-left: 120px;
}

.my-course p {
    font-size: 34px;
    margin: 0;
}

.my-course button {
    background: none;
    border: none;
    font: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
    margin-left: 997px;
    margin-top: 8px;
}

.footer {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: 125783;
    padding: 60px;
}

.footer h2 {
    margin: 0 auto;
    color: black;
}

.bold { 
    font-weight: bold;
}