body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3093D2;
    padding: 10px;
}

.navbar img {
    height: 40px;
    margin-left: 30px;
}

.navbar .profile-button {
    font-size: 34px;
    color: #000000;
    cursor: pointer;
}

.navbar .profile-button:hover {
    color: #262626;
}

.profile-button {
    margin-right: 40px;
}

p {
    margin-top: 45px;
    margin-left: 120px;
    font-size: 34px;;
}

.create-course {
    margin-top: 7rem;
    margin-left: 120px;
}

.create-course button {
    background: #6FC3DF;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    font: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
}

.your-course {
    display: flex;
    margin-top: 3rem;
    margin-left: 120px;
}

.your-course p {
    font-size: 34px;
    margin: 0;
}

.your-course button {
    background: #6FC3DF;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    font: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
    margin-left: 880px;
    margin-top: 8px;
}

.footer {
    margin-top: 26rem;
    position: relative;
    display: flex;  
    text-align: center;
    background-color: 125783;
    padding: 60px;
    width: 100%;
    bottom: 0;
}

.footer h2 {
    margin: 0 auto;
    color: black;
}

.bold {
    font-weight: bold;
}

.background img {
    margin-left: 63rem;
    width: 20rem;
}


.background {
    position: relative;
    padding: 5px;
    width: 100%;
    border-radius: 50px;
    background-color: #6FC3DF;
}

.layer {
    margin-top: -5px;   
    margin-left: -10px;
    padding: 10px;
    width: 101%;
    height: 6%;
    background: #6FC3DF;
}

.background-image img {
    width: 100%;
    margin-top: -5rem;
}

.container {
    position: relative;
}

.container p[id="teaching"]{
    position: relative;
    margin-top: -60rem;
}

.container p[id="start"] {
    margin-top: 5rem;
}
