body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3093D2;
    padding: 10px;
}

.navbar img {
    height: 40px;
    margin-left: 30px;
}

.navbar .profile-button {
    font-size: 34px;
    color: #000000;
    cursor: pointer;
}

.navbar .profile-button:hover {
    color: #262626;
}

.profile-button {
    margin-right: 40px;
}

.bold {
    font-weight: bold;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -42rem;
}


.back-to-dashboard {    
    border-radius: 5px;
    background: #f8f8f8;
    border: 1px solid black;
    padding: 10px 25px;
}

.back-to-dashboard button {
    background: none;
    border: none;
    font: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
}

.profile-setting {
    background: #3093D2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 250px;
}

.profile {
    background: #f8f8f8;
    border: 1px solid black;
    border-radius: 5px;
    padding: 120px;
}

.profile label {
    font-weight: bold;
    font-size: 24px;
}

.profile h3 {
    font-size: 24px;
}

.profile input[type="email"], input[type="text"], input[type="password"] {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    width: 430px;
    height: 35px;
}

.content {
    margin-top: -130px;
    margin-left: -80px;
    padding: 50px;
}

.button-container button {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
    margin-top: 10px;
}

.button-container input {
    margin-left: 180px;
    background: #3093D2;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: inherit;
    color: #000000;
    margin-top: 10px;
}

.background-image img {
    margin-top: -3rem;
    width: 100%;
}